<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<%- include ("../../partials/sidebar.ejs") %>
<main class="app-main"> <!--begin::App Content Header-->
  <div class="app-content-header"> <!--begin::Container-->
    <div class="container-fluid"> <!--begin::Row-->
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0">Pasien</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-end">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="/pasien">Pasien</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              <%= pasien.nama %>
            </li>
          </ol>
        </div>
      </div> <!--end::Row-->
    </div> <!--end::Container-->
  </div> <!--end::App Content Header--> <!--begin::App Content-->
  <div class="app-content"> <!--begin::Container-->
    <div class="container-fluid"> <!--begin::Row-->
      <div class="card card-primary card-outline mb-4"> <!--begin::Header-->
        <div class="card-body">
          <h4><b>Diagnosis Klinis</b></h4>
          <span>Gejala tetanus :</span>
          <ul>
            <% for(let i = 0; i < anamnesis?.gejala_tetanus.symptom.length; i++ ) { %>
              <li><%= anamnesis?.gejala_tetanus.symptom[i] %></li>
            <% } %>
          </ul>
          <p>Bobot : <%= anamnesis?.gejala_tetanus.weight %></p>

          <span>Gejala tuberkulosis :</span>
          <ul>
            <% for(let i = 0; i < anamnesis?.gejala_tuberkulosis.symptom.length; i++ ) { %>
              <li><%= anamnesis?.gejala_tuberkulosis.symptom[i] %></li>
            <% } %>
          </ul>
          <p>Bobot : <%= anamnesis?.gejala_tuberkulosis.weight %></p>

          <span>Gejala hepatitis :</span>
          <ul>
            <% for(let i = 0; i < anamnesis?.gejala_hepatitis.symptom.length; i++ ) { %>
              <li><%= anamnesis?.gejala_hepatitis.symptom[i] %></li>
            <% } %>
          </ul>
          <p>Bobot : <%= anamnesis?.gejala_hepatitis.weight %></p>

          <p>Pemeriksaan fisik : <%= anamnesis?.pemeriksaan_fisik %></p>
          <p>Tingkat pernapasan : <%= anamnesis?.pemeriksaan_fisik %></p>
          <p>Abdomen : <%= anamnesis?.abdomen %></p>
          <p>Tekanan darah : <%= anamnesis?.tekanan_darah %></p>
          <p>Pemeriksaan penunjang : <%= anamnesis?.pemeriksaan_penunjang %></p>

          <h4><b>Input pajanan</b></h4>
          <p>Deskripsi pekerjaan : <%= inputPajanan?.deskripsi_pekerjaan %></p>
          <p>Periode waktu : <%= inputPajanan?.periode_waktu %></p>
          <p>Pajanan : <%= inputPajanan?.pajanan %></p>
          <p>Bahan : <%= inputPajanan?.bahan %></p>
          <p>Cara Kerja : <%= inputPajanan?.cara_kerja %></p>
          <p>Proses Kerja : <%= inputPajanan?.proses_kerja %></p>
          <p>Riwayat Kecelakaan Kerja : <%= inputPajanan?.riwayat_kecelakaan_kerja %></p>
          <p>APD : <%= inputPajanan?.apd %></p>

          <h4><b>Hubungan anamnesis dan diagnosis klinis</b></h4>
          <p>Waktu timbul gejala : <%= diagnosis?.waktu_timbul_gejala %></p>
          <p>Pemeriksaan pra-kerja: <%= diagnosis?.pemeriksaan_prakerja %></p>
          <p>Hasil diagnosis klinis : <%= diagnosis?.hasil_diagnosis_klinis %></p>

          <h4><b>Pajanan kualitatif & kuantitatif</b></h4>
          <p>Deskripsi lingkungan kerja : <%= pajanan?.deskripsi_lingkungan_kerja %></p>
          <p>Lama kerja : <%= pajanan?.lama_kerja %></p>
          <p>Masa kerja : <%= pajanan?.masa_kerja %></p>
          <p>Data PLK : <%= pajanan?.data_plk %></p>
          <p>Data monitoring biologis : <%= pajanan?.data_monitoring_biologis %></p>

          <h4><b>Faktor Individu</b></h4>
          <p>Kebiasaan : <%= faktorindividu?.kebiasaan %></p>
          <p>Riwayat penyakit genetik : <%= faktorindividu?.riwayat_penyakit_genetik %></p>
          <p>Riwayat atopi : <%= faktorindividu?.riwayat_atopi %></p>
          <p>Penyakit penyerta : <%= faktorindividu?.penyakit_penyerta %></p>

          <h4><b>Pajanan luar tempat kerja</b></h4>
          <p>Pekerjaan rumah : <%= pajananluarkerja?.pekerjaan_rumah %></p>
          <p>Hobi : <%= pajananluarkerja?.hobi %></p>
          <p>Pekerjaan sampingan : <%= pajananluarkerja?.pekerjaan_sampingan %></p>

          <h4><b>Hasil diagnosis</b></h4>
          <p>Kesimpulan : <%= hasildiagnosis?.kesimpulan %></p>
          <p>Hasil diagnosis PAK : <%= hasildiagnosis?.hasil_diagnosis_pak %></p>
          <p>Rekomendasi : <%= hasildiagnosis?.rekomendasi %></p>
          <p>Evaluasi : <%= hasildiagnosis?.evaluasi %></p>
        </div>
      </div> <!--end::Toast-->
    </div> <!--end::Container-->
  </div> <!--end::App Content-->
</main> <!--end::App Main-->

<%- include ("../../partials/footer.ejs") %>
<%- include ("../../partials/js.ejs") %>